{% extends 'base.html.twig' %}

{% block title %}Metabook - New Post{% endblock %}

{% block body %}
    <h1>Create Post</h1>

    {{ include('posts/_form.html.twig') }}

    <a href="{{ path('app_home') }}">Go back</a>
{% endblock %}