{% extends 'layouts/base.html.twig' %}

{% block title %}Metabook{% endblock %}

{% block body %}
<h1>{{ pluralize(posts|length, 'Post','Posts')  }}</h1>

{% for post in posts %}
    <h2><a href="{{ path('app_post_show', {id: post.id}) }}">{{ post.title|u.truncate(30,'...') }}</a></h2>
    <p>Submitterd {{ post.createdAt|ago }}</p>
{% endfor %}

{% endblock %}
