{% extends 'base.html.twig' %}

{% block title %}Metabook{% endblock %}

{% block body %}
<h1>{{ pluralize(posts|length, 'Post','Posts')  }}</h1>

{% for post in posts %}
    <h2>{{ post.id }}</h2>
    <p><a href="{{ path('app_post_show', {id: post.id}) }}">{{ post.title }}</a></p>
{% endfor %}

{% endblock %}
