<h1>Salut !</h1>

<p>Pour réinitialiser votre mot de passe, veuillez consulter le lien suivant :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Bien à vous,</p>

<p>
    Matebook<br>
    <small>
        Support Team<br>
        info@matebook.be<br>
        +32 484 41 05 03
    </small>
</p>
