{% extends 'layouts/base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 col-sm-12 mx-auto border rounded mt-5 p-5 shadow-lg bg-form">
            <h1 class="text-center mb-5">
                <img src="{{ asset('build/images/logo_matebook.png') }}" width="50px" height="50px">
                MateBook<br>
                <span class="sub-title">Réinitialisez votre mot de passe</span>
            </h1>

            {{ form_start(resetForm) }}
                {{ form_row(resetForm.newPassword) }}
                <button type="submit" class="btn btn-lg btn-primary btn-block mt-5">Modifier</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
