<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot;
            Fait pour l'HELB par <a href="">Manu Bakala</a>
        </small>
    </p>
</footer>