@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~bootstrap";
body {
    font-family: 'Montserrat', sans-serif;
}

.vich-image {
    .form-check {
        @extend .mt-3;
    }
    img {
        @extend .mb-2,
        .rounded,
        .shadow,
        .img-thumbnail;
    }
}

.post {
    img {
        transition: transform 0.3s ease-out;
    }
    img:hover {
        transform: scale(1.075);
    }
}

@media (max-width:350px) {
    .menu-first {
        display: none;
    }
}


/*
.post_index {
    max-width: 45%;
    margin: auto;
}

@media (max-width: 1200px) {
    .post_index {
        max-width: 50%;
        margin: auto;
    }
}

@media (max-width: 990px) {
    .post_index {
        max-width: 70%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .post_index {
        max-width: 80%;
        margin: auto;
    }
}

@media (max-width: 568px) {
    .post_index {
        max-width: 100%;
        margin: auto;
    }
}
*/